body {
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
    display: block;
    margin: 8px;
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      margin-left: 8px;

  }

  h1 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: block;

  }

  .head {
    width: 960px;
    height: 85px;
    align-content: center;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #ffffff;
    background-attachment: fixed;
    clear: both;
  }

  #name {
    float: left;
    margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 300px;
    height: 85px;
    line-height: 45px;
  }

  .top {
    background-color: #ffffff;
    height: 85px;
    background-attachment: fixed;
    margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
    clear: both;

  }
.topnav a {
  height: 85px;
  align-content: normal;
  color: #777777;
  text-align: center;
  padding: 25px 10px 25px 10px;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

  section {
    display: block;

  }

  #bio {
    padding-left: 50px;
    padding-bottom: 15px;

  }
  div {
    display: block;
  }

  #name {
    name {
      float: left;
      margin: auto;
      text-align: center;
      font-size: 17px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 300px;
      height: 85px;
      line-height: 45px;
  }
  
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: #ffffff;
    border: #cccccc;
    width: 960px;
  }
  
  
  h2 {
    font-size: 24px;
    color: teal;
    text-align: center;
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
